stages:
  - build
  - deploy

variables:
  IMAGE_TAG: "$CI_COMMIT_SHORT_SHA"
  IMAGE_NAME: "$CI_REGISTRY_IMAGE:$IMAGE_TAG"
  IMAGE_DEPLOY: "$IMAGE_NAME"

build-image:
  stage: build
  image: docker:29.0.0
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  tags:
    - gitlab-runner-build
  services:
    - docker:29.0.0-dind
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - docker build -t "$IMAGE_NAME" .
    - docker push "$IMAGE_NAME"

prod_server_deploy:
  stage: deploy
  tags:
    - gitlab-runner-ai-gateway
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker stop $CI_PROJECT_NAME || true
    - docker rm $CI_PROJECT_NAME || true
    - docker pull $IMAGE_DEPLOY
    - docker run -d --name $CI_PROJECT_NAME --network rph-network -p 6901:6901 -p 1000:8000 -e VNC_PW=headless -e VNC_RESOLUTION=1920x1080 -e DISPLAY=:1 --restart unless-stopped --stop-timeout 10 --shm-size=4gb --cpus=1 --memory=4g --memory-reservation=2g -v /opt/secrets/$CI_PROJECT_NAME/profiles:/home/headless/Desktop/app/profiles:rw $IMAGE_DEPLOY
