services:
  livellm-computer:
    build:
      context: .
      dockerfile: Dockerfile
    image: kamasalyamov/livellm-browser:0.1.0
    container_name: livellm-browser-0.1.0
    ports:
      # VNC port
      - "5901:5901"
      # noVNC web interface
      - "6901:6901"
      # FastAPI Controller
      - "8000:8000"
    environment:
      - VNC_PW=headless
      - VNC_RESOLUTION=1920x1080
      - DISPLAY=:1
    volumes:
      # Mount profiles directory from host with read/write access
      # Create your profile directory on host: mkdir -p ./profiles/myprofile
      # Then set PROFILE_NAME=myprofile to use it
      - profiles_volume:/home/headless/Desktop/app/profiles:rw
    restart: unless-stopped
    stop_grace_period: 10s
    shm_size: '4gb'
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '4gb'
        reservations:
          cpus: '0.5'
          memory: '2gb'

volumes:
  profiles_volume:
    driver: local

#   chrome-profile:


